@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
  /* is this :root available trough all my app? */
  font-size: 16px;
  font-family: 'Open Sans';
  --transition-speed: 400ms;
  --text-primary: white;
  --text-accent: darkblue;
  --background-color: #000d1a;
}

body {
  margin: 0;
  padding: 0;
  /* color: var(--text-primary); */
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: rgb(214, 214, 214) ;
}
body::-webkit-scrollbar-thumb {
  background: darkblue;
}

/* .content {

}

button {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 12px auto;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards_item {
  list-style-type: none;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_image img {
    width: 600px;
    border-radius: 6px 6px 0px 0px;

}

.card_heading {
}

.card_description {
  margin-top: 0;
}

.card_button {
  height: 40px;
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans';
  transition: background 250ms ease;
    border-radius: 0px 0px 6px 6px;
} */