@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
  margin: 0;
  font-family: "Open Sans";
  color: #333
}

.content {
  font-weight: 400;
  /* max-width: 900px; */
  width: 84%;
  margin: 0px auto;
  padding: 0px;
}

button {
  cursor: pointer;
}