@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
  margin: 0;
  font-family: "Open Sans";
  color: #333
}

.navbar-container {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  width: 100%;
  padding: 10px 8%;
  /* vertical alignment */
  align-items: center;
}

.navbar h1 {
  color: darkblue;
}

.navbar .links {
  font-weight: 400;
  margin-left: auto;
}

.navbar a {
  margin-left: 6px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: darkblue;
}

.content {
  font-weight: 400;
  /* max-width: 900px; */
  width: 84%;
  margin: 0px auto;
  padding: 0px;
}

button {
  cursor: pointer;
}